extends ../partials/skeleton

block prescript
	script(type='text/javascript', src='https://cdn.auth0.com/js/lock-7.5.min.js')
	script(type='text/javascript', src='/scripts/formFunctions.js')
	script(type='text/javascript', src='/scripts/getXrate.js')
	link(rel='stylesheet', href='/stylesheets/checkout.css')
block content
	meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	#product
		#leftside
			.Wallop.Wallop--fade
				.Wallop-pagination
					each image in items.images
						if image == image[1]
							button.Wallop-dot.Wallop-dot--current
						else
							button.Wallop-dot
				.Wallop-list
					each image in items.images
						if image == image[0]
							.Wallop-item.Wallop-item--current
								img(src="#{image}")
						else
							.Wallop-item
								img(src="#{image}")
				i.material-icons.Wallop-nav.Wallop-buttonNext navigate_next
				i.material-icons.Wallop-nav.Wallop-buttonPrevious navigate_before
		#rightside.com
			.browse.com__section
				.animate.slideInRight
					a(href="/#{items.sex}/#{items.category}")
						i.material-icons.back-btn arrow_back
					form(class="view-product", action="#", role="form", method="POST")
						p #{items.sex} > #{items.category}
						h3 #{items.title}
						h5.rating Average rating: #{((items.rating).replace('%', '') * .10).toFixed(1)} / 10
						.tags
							each tag in items.tags
								.tag
									p #{tag}

						.clear
						if items.options
							h5 Options:
						each selection in items.options
							.input-field
								select(name="option")
									each option in selection
										option(value="#{option}") #{option}
							.clear

						h4.price #{items.price}

						button.com__nav-link.waves-effect.waves-light.btn-large(type="button", data-index="1")
							i.material-icons.left shopping_cart
							span Order
			.ship.com__section
				.animate.slideInRight
					a(class="com__nav-link", data-index="0")
						i.material-icons.back-btn arrow_back
					.transactionprogress
						a(class="com__nav-link", data-index="0")
							p Order
						i(class="material-icons") navigate_next
						p Shipping
						.clear
					if user
						h3 Shipping time.
						h4 What address should we ship to?
						#shipto
							input(id="shippingAddress", type="hidden", name="shippingAddress")
							if addresses
								each address in addresses
									.address-container(data-id="#{address._id}")
										h4 #{address.name}
										p #{address.address1}
										p #{address.city}

							.clear
							.new-container
								h5.add-address-title Want to use a different address?
								button.add-address-button.waves-effect.waves-light.btn(type="button", data-index="2")
									i.material-icons.left home
									label New address
								.preloader__
							.clear
							#add-address
								h3 New address:
								include ../partials/address-form
							.clear

						.express
							h4 Go express?
							input(type="checkbox", id="expressShip", name="shipping", value="express")
							label(for="expressShip") Express shipping ($15)

							p Our standard shipping often takes around 30 days. This is partly how we manage to keep our prices down, slower shipping = lower costs. Alternatively, feel free to pay $15 for express shipping (5 - 10 days).

						button.com__nav-link.waves-effect.waves-light.btn-large(type="button", data-index="2")
							i.material-icons.left payment
							span Checkout
					else
						h3 Hold up!
						h4="Please "
							a(href="#", onClick="login()")="log in "
							span to continue.

			.checkout.com__section
				.animate.slideInRight
					a(class="com__nav-link", data-index="1")
						i.material-icons.back-btn arrow_back
					.transactionprogress
						a(class="com__nav-link", data-index="0")
							p Order
						i(class="material-icons") navigate_next
						a(class="com__nav-link", data-index="1")
							p Shipping
						i(class="material-icons") navigate_next
						p Checkout
						.clear
					if user
						h3 Checkout time.
						h4 How would you like to pay?
						form(id="checkout", method="post", action="/checkout")
							#payment-form
							button.waves-effect.waves-light.btn-large(type="submit")
								i.material-icons.left thumb_up
								Pay #{items.price}

					else
						h3 How did you get here?!
						h4="Please "
							a(href="#", onClick="login()")="log in "
							span to continue.
block scripts
	script(type='text/javascript').

		// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
		// ~~~~~~~~~~~~~~~~~ AUTH0 CODE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|

		lock = new Auth0Lock('aDP9vhLVwnXkCUXCUXebeU6g6Y15tX6p', 'copicat.auth0.com');
		function login(){
			lock.show({
				callbackURL: 'http://127.0.0.1:8080/login?redir=' + window.location.pathname,
				responseType: 'code',
				authParams: {
					scope: 'openid profile'
				}
			});
		}


		// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
		// ~~~~~~~~~~~~~~~~~ BRAINTREE ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
		// We generated a client token for you so you can test out this code
		// immediately. In a production-ready integration, you will need to
		// generate a client token on your server (see section below).

		$.get("/client_token/", function(data, error){
			var clientToken = data;
			braintree.setup(clientToken, "dropin", {
				container: "payment-form",
				onPaymentMethodReceived: function (obj) {
					console.log(obj);
					// Do some logic in here.
					// When you're ready to submit the form:
					$('#checkout').submit();
				}
			});
		});

		// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|
		// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~|

		$(document).ready(function() {
			$('select').material_select();
		});

		// Update DOM | Looking pretty
		$('body').addClass('product man');

		// Set selected address effect
		$('#shipto').on('click', '.address-container', function() {
			// Outline selection
			$('.address-container').removeClass('active');
			$(this).addClass('active');

			// Get selection value
			var postal_id = $(this).attr('data-id');

			// Set value
			$('#shippingAddress').attr('value', postal_id);
		});

		// Get address function
		function getAddress(userID){
			var address_data = '';
			$.get("/postage_api/" + userID, function(data){
				var clientAddresses = data;
				//Hide loader (#loadAddress)

				// push saved addresses to DOM (#selectAddress)
				if (data == 'none') {
					address_data =
						'<p>You don\'t seem to have any saved addresses. Let\'s create one!</p>' +
						'<button class="add-address-button">New address</button>';
				} else {
					console.log(data);
					console.log(JSON.stringify(data));

					for (i=0; i < data.length; i++ ) {
						address_data +=
							'<div class="address-container" data-id="' + data[i]._id + '">' +
								'<h5>' + data[i].name + '</h5>' +
								'<p>' + data[i].address1 + '</p>' +
								'<p>' + data[i].city + '</p>' +
							'</div>';
					}
				}
			});
		}

	script(type='text/javascript', src='/scripts/checkout-animations.js')
	script(type='text/javascript', src='/scripts/product-wallop.js')
	script(type='text/javascript', src='/scripts/preloader.js')
	// Init checkout
	script(type='text/javascript').
		activeFirst(#{stage});
